@model Lightyear_Software_Company.Models.Model.CarrierCategory

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Carrier Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarrierCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarrierCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarrierCategoryDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarrierCategoryDescription)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <button class="btn btn-default" type="button">
                @Html.ActionLink("Back to List", "Index")
            </button>
        </div>
    }
</div>
