@model Lightyear_Software_Company.Models.Model.Slider

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Slider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SliderTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SliderTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SliderDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SliderDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SliderImageURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SliderImageURL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SliderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
